.people {
  list-style: none;
  padding: 0;
  margin: 0;
}

.person {
  display: flex;
  align-items: center;
}

.person + .person {
  margin-top: 12px;
}

.person__details {
  margin-left: 20px;
}

.person__avatar {
  display: block;
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50% 50% 4px 50%;
}

.person__avatar  > img {
  width: 100%;
}

.person__firstName {
  margin: 0;
  font-weight: normal;
  font-size: 32px;
}

.person__lastName {
  display: block;
  font-size: 18px;
  margin-top: 0;
}
